<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Automovs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/all.css" />
    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <header>
      <section class="top-header">
        <div class="contact-info">
          <nav class="nav justify-content-center">
            <a class="nav-link" href="mailto:info@aoutomovs.com"
              ><i class="fal fa-envelope"></i> info@aoutomovs.com</a
            >
            <a class="nav-link" href="tel:+916291839827"
              ><i class="fal fa-phone"></i> 6291839827</a
            >
          </nav>
        </div>
      </section>
      <!-- Nav tabs -->
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/rsz_logo.png" alt="" />
          </a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page"
                  >Home <span class="visually-hidden">(current)</span></a
                >
              </li>
              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#ourServices"
                  id="dropdownId"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Services <i class="fal fa-chevron-down"></i
                ></a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Service 1</a>
                  <a class="dropdown-item" href="#">Service 2</a>
                </div>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" href="#ourServices">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutUs">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactUs">Contact</a>
              </li>
            </ul>
          </div>
          <a
            name=""
            id=""
            class="btn-v1 book-online-btn"
            href="#onlineBooking"
            role="button"
            >Book Online</a
          >
        </div>
      </nav>

      <!-- Tab panes -->
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="tab1Id"
          role="tabpanel"
        ></div>
        <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
        <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
      </div>
    </header>
    <main>
      <section class="container-fluid banner py-5">
        <div class="row">
          <div class="col-6">
            <h1 class="banner-heading display-5 fw-bold">
              <span class="light-text"> Need Car Servicing?</span> <br />
              Welcome To
              <span class="automovs-text">Auto<span>movs</span></span>
            </h1>
            <p class="fs-5">
              Automovs will make your life easier by helping you to book your
              car servicing without even going to the maintenance person.
            </p>
            <div class="banner-action">
              <a href="#onlineBooking" class="btn-v1">Book Online</a>
              <span class="call-separator"> </span>
              <a class="call-link" href="tel:+916291839827"
                ><i class="fal fa-phone"></i> 6291839827</a
              >
            </div>
          </div>
          <div class="col-6">
            <div
              id="carouselExampleInterval"
              class="carousel carousel-fade"
              data-bs-ride="carousel"
              data-bs-interval="5000"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="images/Maruti_Ertiga.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="images/Maruti_Swift.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="images/XUV300.webp"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="images/Baleno.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#ourServices" class="arrows scrollTo"
          ><i class="fal fa-chevron-down"></i><br />
          Scroll</a
        >
      </section>
      <section class="container-fluid our-services" id="ourServices">
        <div class="row">
          <div class="col-12">
            <h1 class="heading_1">Our Car <span>Service</span> Offerings</h1>
            <div class="service-list row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100">
                  <div class="card-img-otr">
                    <img
                      class="card-img-top"
                      src="images/car_wash_&_detailing.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">wash & detailing</h4>
                    <p class="card-text">
                      Elevate your vehicle's allure with our meticulous car wash
                      & detailing services. Experience a fresh, revitalized ride
                      like never before.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <div class="card-img-otr">
                    <img
                      class="card-img-top"
                      src="images/car_interior_sanitization.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">interior sanitisation</h4>
                    <p class="card-text">
                      Ensure a clean, germ-free cabin with our car interior
                      sanitization. Drive confidently in a hygienic space.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <div class="card-img-otr">
                    <img
                      class="card-img-top"
                      src="images/car underbody_rust_protection_&_coating.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">
                      underbody rust protection & coating
                    </h4>
                    <p class="card-text">
                      Guard against corrosion with our underbody rust protection
                      & coating. Drive with confidence, knowing your car is
                      shielded.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <div class="card-img-otr">
                    <img
                      class="card-img-top"
                      src="images/car_denting_&_painting.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">denting & painting</h4>
                    <p class="card-text">
                      Restore your car's charm with precision denting &
                      painting. Witness a seamless transformation that
                      impresses.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <div class="card-img-otr">
                    <img
                      class="card-img-top"
                      src="images/car_ac_service_&_gas_charge.webp"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">ac service & gas charge</h4>
                    <p class="card-text">
                      Experience cool comfort with our car AC service & gas
                      recharge. Drive refreshed as your AC performs optimally.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100">
                  <div class="card-img-otr">
                    <img
                      class="card-img-top"
                      src="images/car_corrosion_protection.jpg"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">corrosion protection</h4>
                    <p class="card-text">
                      Shield your car from rust with our corrosion protection
                      services. Drive with peace of mind and a pristine
                      exterior.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="book-online container-fluid" id="onlineBooking">
        <div class="row">
          <div class="col-8">
            <h1 class="heading_1">Book <span>Online</span></h1>
            <form class="row g-3">
              <div class="col-md-12">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" />
              </div>

              <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" />
              </div>
              <div class="col-md-6">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" />
              </div>

              <div class="col-md-6">
                <label for="date" class="form-label">Preferred Date</label>
                <input type="date" class="form-control" id="date" />
              </div>

              <div class="col-md-6">
                <label for="time" class="form-label">Preferred Time</label>
                <input type="time" class="form-control" id="time" />
              </div>

              <div class="col-md-12">
                <label for="serviceType" class="form-label">Service Type</label>
                <select id="serviceType" class="form-select">
                  <option>...</option>
                </select>
              </div>

              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" />
              </div>

              <div class="col-12">
                <label for="extraDetails" class="form-label"
                  >Extra Details</label
                >
                <textarea
                  type="text"
                  class="form-control"
                  id="extraDetails"
                ></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn-v1" type="button">
                  Book Online
                </button>
              </div>
            </form>
          </div>
          <div class="col-4 img-otr">
            <img class="book-online-img" src="images/book-online.jpg" alt="" />
          </div>
        </div>
      </section>
      <section class="about-us container-fluid" id="aboutUs">
        <h1 class="heading_1">Who <span>We</span> Are</h1>
        <div class="row">
          <div class="col-4 img-col">
            <div class="img-otr">
              <img class="about-us-img" src="images/about_us.jpg" alt="" />
            </div>
          </div>
          <div class="col-8 text-col">
            <p>
              Automovs will make your life easier by helping you to book your
              car servicing without even going to the maintenance person. You
              can book your servicing with the help of a few clicks and can
              experience great service and that too quite conveniently.
            </p>
            <p>
              You can choose among a range of service options for your car and
              we make sure to provide you with services that are as per the
              recommendations of the company so that the right type of servicing
              can be provided to your car.
            </p>
            <p>
              We cater our services in all of Kolkata and we are easy to get
              connected with the help of a number of service centers distributed
              throughout.
            </p>
            <p>
              What are the services that we provide? We specialize in a range of
              servicing options such as repairs, denting, a/c heating in cars,
              cleaning, a pre-purchase inspection of the car and many others.
            </p>
            <p>
              Our team makes sure that we can offer services to almost all types
              of cars from all types of brands and that too at a much affordable
              price.
            </p>
            <p>
              Automovs was established in the year 2018 and since then we have
              constantly evolved with the help of the customers who are happy
              with us and who have shown their trust in us over time.
            </p>
          </div>
        </div>
      </section>
      <section class="contact-us container-fluid" id="contactUs">
        <h1 class="heading_1">Contact <span>Us</span></h1>
        <div class="row">
          <div class="col-6 contact-info-otr">
            <h3 class="heading_3">Our Contact information</h3>

            <ul class="contact-info">
              <li>
                <span class="contact-info-title">Phone Number</span>
                <i class="fal fa-phone"></i>
                <a href="tel:+916291839827">6291839827</a>
              </li>
              <li>
                <span class="contact-info-title">Email Address</span>
                <i class="fal fa-envelope"></i
                ><a href="mailto:info@automovs.com">info@automovs.com</a>
              </li>
              <li>
                <span class="contact-info-title">Address</span>
                <i class="fal fa-address-card"></i>
                <address>
                  23/4b Banamali Nasker Road, Behala, Kolkata 70060
                </address>
              </li>
            </ul>
          </div>
          <div class="col-6 contact-form-otr">
            <form class="row g-3">
              <div class="col-md-12">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" />
              </div>

              <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" />
              </div>
              <div class="col-md-6">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" />
              </div>

              <div class="col-12">
                <label for="enquery" class="form-label">Enquery</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="enquery"
                ></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn-v1" type="button">
                  Send Enquery
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="logo">
              <img src="images/rsz_logo.png" alt="" />
            </div>
            <p>
              Automovs will make your life easier by helping you to book your
              car servicing without even going to the maintenance person.
            </p>
          </div>
          <div class="col-2">
            <h3 class="heading_3">Quick Links</h3>
            <nav class="nav">
              <a class="nav-link active" href="#" aria-current="page">Home</a>
              <a class="nav-link" href="#ourServices">Our Services</a>
              <a class="nav-link" href="#onlineBooking">Quick Booking</a>
              <a class="nav-link" href="#aboutUs">About Us</a>
              <a class="nav-link" href="#contactUs">Contact Us</a>
            </nav>
          </div>
          <div class="col-4">
            <h3 class="heading_3">Social Links</h3>
            <nav class="nav social-links">
              <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
              <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
              <a class="nav-link" href="#"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </nav>
            <div class="contact-info">
              <a href="tel:+916291839827"
                ><i class="fal fa-phone"></i> 6291839827</a
              >
              <a href="mailto:info@automovs.com"
                ><i class="fal fa-envelope"></i> info@automovs.com</a
              >
              <address>
                <i class="fal fa-address-card"></i> 23/4b Banamali Nasker Road,
                Behala, Kolkata 70060
              </address>
            </div>
          </div>
        </div>
      </section>
      <section class="bottom-footer">
        <div class="copyright-info">
          <p>Copyright © 2023 All Rights Reserved.</p>
        </div>
        <nav class="nav ms-auto">
          <a class="nav-link" href="/privacy-policy">Privacy Policy</a>
          <a class="nav-link" href="/terms-and-conditions"
            >Terms & Conditions</a
          >
        </nav>
      </section>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <script>
      let lastGenerated = Date.now(); // Initialize with current timestamp

      function generateDifferentRandomNumber(max, min) {
        if (max - min < 100) {
          throw new Error("The range should be at least 100.");
        }

        const a = 1664525;
        const c = 1013904223;
        const m = Math.pow(2, 32);

        lastGenerated = (a * lastGenerated + c) % m;
        const randomOffset = (lastGenerated / m) * (max - min - 100);
        const randomNumber = min + Math.floor(randomOffset);

        return randomNumber;
      }

      var gearCount = Math.floor(Math.random() * (25 - 10 + 1)) + 10;
      var gearContainer = document.querySelector("body");
      var body = document.body,
        html = document.documentElement;

      var height = Math.max(
        body.scrollHeight,
        body.offsetHeight,
        html.clientHeight,
        html.scrollHeight,
        html.offsetHeight
      );

      var width = Math.max(
        body.scrollWidth,
        body.offsetWidth,
        html.clientWidth,
        html.scrollWidth,
        html.offsetWidth
      );

      for (let i = 0; i <= gearCount; i++) {
        const gearElement = document.createElement("i");
        const gearElementClass = gearElement.classList;

        const icons = ["fas", "far", "fal"];

        gearElementClass.add(icons[Math.floor(Math.random() * icons.length)]);
        gearElementClass.add("fa-cog");

        gearElement.style.top =
          generateDifferentRandomNumber(height - 256, 100) + "px";
        gearElement.style.left =
          generateDifferentRandomNumber(width - 256, 50) + "px";
        gearElement.style.fontSize =
          generateDifferentRandomNumber(256, 32) + "px";

        const rotationAnimation = ["rotation", "rotationAnti"];

        gearElement.style.animation =
          rotationAnimation[
            Math.floor(Math.random() * rotationAnimation.length)
          ] + " 10s infinite linear";

        gearContainer.appendChild(gearElement);
      }
    </script>

    <!-- (Optional) - Place this js code after initializing bootstrap.min.js or bootstrap.bundle.min.js -->
    <script>
      // var triggerEl = document.querySelector("#navId a");
      // bootstrap.Tab.getInstance(triggerEl).show(); // Select tab by name
    </script>
  </body>
</html>
